# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!example/*.tfvars
.terraformrc
terraform.rc

# CloudFormation
*.template
*.yaml.bak
*.json.bak

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
